@font-face {
  font-family: 'PFStardust';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/PFStardust.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PFStardust';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/PFStardustBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PFStardust';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/PFStardustExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

html,
body {
  margin: 0;
  font-family: 'PFStardust';
}

/* Layout */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.gap-40 {
  gap: 40px;
}

/* Background */
.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

/* Text */
.text-white {
  color: white;
}

.text-24 {
  font-size: 24px;
}

.text-48 {
  font-size: 48px;
}

.text-center {
  text-align: center;
}

/* Margin */

/* Padding */
